* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #AFDCEC;
}
/** HEADER **/
#header-nav {
  margin: auto;
  width: 100%;
  background-color: #AFC7C7;
  border-radius: 0;
  border: 3px solid black;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  color: #black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a:active {
  background-color: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#collapsable-nav<.collapse {
  background: ;
}
ul {
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
}
hr {
  margin: auto;
  width: 95%;
  border: 1px solid black;
  box-shadow: 3px 1px 1px #222;
}
/* END HEADER */

/* HOME PAGE */
div h3 {
  color: #000;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
}

#p h4 {
  color: #000;
  font-size: 1.5em;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
}

#p {
  margin: 10px;
  border: 1px solid black;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 5vw; /* 1vw = 1% of viewport width */



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */